*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
